body {
  font-family: 'Philosopher', sans-serif;
}

i {
  font-size: 1.25rem;
  filter: drop-shadow(3px 3px 2px grey);
}

textarea {
  border-radius: 5px;
  resize: none;
}

.img-no-detail {
  object-fit: contain;
  max-height: 10rem;
}

.title {
  background: radial-gradient(50% 50% at 50% 50%, #c5f9fa 25%, rgba(255, 255, 255, 0) 100%), #66acad;
  font-family: 'Almendra SC', serif;
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.container.nav {
  padding: 1rem;
  background-color: #c5f9fa;
}

.row {
  margin: 1rem;
}

.card-body {
  padding: 0.25rem 0;
}

.custom-request {
  font-size: 20px;
}

.img-detail {
  filter: drop-shadow(0 3px 2px grey);
}

.team-name {
  font-size: 20px;
}

.custom-name-date {
  font-size: 20px;
}

.qty {
  font-size: 14px;
}
