i {
  font-size: 1.25rem;
  filter: drop-shadow(3px 3px 2px grey);
}

img {
  object-fit: contain;
  max-height: 10rem;
}

.title {
  background: radial-gradient(50% 50% at 50% 50%, #c5f9fa 25%, rgba(255, 255, 255, 0) 100%), #66acad;
  font-family: 'Almendra SC', serif;
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.container.nav {
  padding: 1rem;
  background-color: #c5f9fa;
}

.row {
  margin: 1rem;
}

.card {
  /* filter: drop-shadow(3px 3px 2px grey);
  background-color: rgb(245, 245, 245);
  text-align: center; */
}

.card-body {
  padding: 0.25rem 0;
}
